# .env.example

# Configurações do PostgreSQL / TimescaleDB
POSTGRES_DB=telemetry_db
POSTGRES_USER=admin
POSTGRES_PASSWORD=altere_sua_senha_aqui
POSTGRES_PORT=5433

# Configurações do Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Configurações do Broker MQTT (Mosquitto)
MQTT_HOST=localhost
MQTT_PORT=1883